---
import Layout from '../layouts/Layout.astro'
import Highlighted from '../components/Highlighted.astro'
import coverReference from '../img/cover.webp'
import { Image } from 'astro:assets'
---

<Layout title="Michael Lyon">
  <main
    class="flex justify-center items-center min-h-screen font-['Inter'] text-gray-300 leading-8"
  >
    <article class="animation-section-1 max-w-screen-md mx-auto px-6 my-12">
      <h1 class="text-white text-3xl font-semibold mb-2">
        {'Hi, my name is Michael.'}
      </h1>
      <p class="mt-0">
        I'm a
        <Highlighted className="bg-gray-700">JavaScript Engineer</Highlighted>
         working at
        <Highlighted
          className="bg-[#5333ed] hover:text-[#5333ed] hover:bg-white"
          href="https://kinsta.com/"
        >
          Kinsta
        </Highlighted>
      </p>

      <Image
        src={coverReference}
        alt="Michael in his element"
        class="animation-section-2 saturate-50"
        width={800}
        height={533}
      />
      <p class="animation-section-3">
        I've built products ranging from{' '}
        <a
          href="https://www.prnewswire.com/news-releases/electronic-caregiver-releases-addi-2-0--a-highly-intelligent-and-engaging-platform-designed-to-deliver-value-based-care-built-on-aws-addi-provides-100x-scalability-to-meet-the-surging-demand-for-telehealth-301385791.html"
        >
          remote patient monitoring
        </a>{' '}
         to{' '}
        <a
          href="https://www.krqe.com/health/coronavirus-new-mexico/new-mexico-company-creates-app-to-track-risks-in-covid-19-hotspots/"
        >
          COVID tracking for professional athletes</a
        >. I'm currently a member of the{' '}
        <a href="https://kinsta.com/mykinsta/">MyKinsta</a> core team.
      </p>

      <p class="animation-section-4">
        My goal is to make the world a better place through software.
      </p>
    </article>
  </main>
</Layout>
