---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta
      name="description"
      content="Come see how Michael Lyon is making the world a better place through software."
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <slot />

    <style is:global>
      @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
      }

      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      body {
        @apply bg-gray-900;
        font-family: 'Inter';
      }

      h1 {
        @apply my-4;
      }

      p {
        @apply my-6;
      }

      img {
        @apply my-8;
      }

      a {
        @apply text-white hover:underline;
      }

      @keyframes fade-in {
        from {
          @apply opacity-0;
        }
        to {
          @apply opacity-100;
        }
      }

      .animation-section-1 {
        @apply opacity-0;
        animation-name: fade-in;
        animation-delay: 0s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
      }

      .animation-section-2 {
        @apply opacity-0;
        animation-name: fade-in;
        animation-delay: 0.1s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
      }

      .animation-section-3 {
        @apply opacity-0;
        animation-name: fade-in;
        animation-delay: 0.2s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
      }

      .animation-section-4 {
        @apply opacity-0;
        animation-name: fade-in;
        animation-delay: 0.3s;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
      }
    </style>
  </head>
</html>
